body {
    padding: 0;
    margin: 0;
    font-family: Arial,SansSerif,"Times New Roman";
}

@media only screen and (max-width: 376px ) {
    .col-xs-1 {
        width: 8.33333%;
    }

    .col-xs-2 {
        width: 16.66667%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33333%;
    }

    .col-xs-5 {
        width: 41.66667%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33333%;
    }

    .col-xs-8 {
        width: 66.66667%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33333%;
    }

    .col-xs-11 {
        width: 91.66667%;
    }

    .col-xs-12 {
        width: 100%;
    }

    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 377px )and (max-width: 740px ) {
    .col-s-1 {
        width: 8.33333%;
    }

    .col-s-2 {
        width: 16.66667%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33333%;
    }

    .col-s-5 {
        width: 41.66667%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33333%;
    }

    .col-s-8 {
        width: 66.66667%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33333%;
    }

    .col-s-11 {
        width: 91.66667%;
    }

    .col-s-12 {
        width: 100%;
    }

    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 741px)and (max-width: 1240px) {
    .col-md-1 {
        width: 8.33333%;
    }

    .col-md-2 {
        width: 16.66667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333%;
    }

    .col-md-5 {
        width: 41.66667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33333%;
    }

    .col-md-8 {
        width: 66.66667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333%;
    }

    .col-md-11 {
        width: 91.66667%;
    }

    .col-md-12 {
        width: 100%;
    }

    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1241px) {
    .col-l-1 {
        width: 8.33333%;
    }

    .col-l-2 {
        width: 16.66667%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33333%;
    }

    .col-l-5 {
        width: 41.66667%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33333%;
    }

    .col-l-8 {
        width: 66.66667%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33333%;
    }

    .col-l-11 {
        width: 91.66667%;
    }

    .col-l-12 {
        width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: #222222;
    height: 38px;
}

.footer {
    width: inherit;
    background-color: gray;
    height: 50px;
}

.footer p {
    color: #FFFFFF;
    font-weight: bold;
    width: inherit;
    line-height: 18px;
    text-align: center;
}

/*Header*/
.logo-icon {
    font-size: 20px;
}
.nav-bar a {
    color: #F1F1F1;
    text-decoration: none;
}
.nav-bar span {
    padding: 10px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
}
.nav-bar span:hover {
    background-color: #080808;
}
.nav-bar span:hover a {
    color: #ef2d26
}
/*Nav Account*/
.login {
    float: right;
    padding: 3px 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.login:before {
    position: relative;
    top: 5px;
    right: 5px;
    content: url("img1.png");
}

.body-content {
    height: 500px;
    background-color: #FFFFFF;
}

/*Left Content*/
.hyperlink-content {
    background-color: #F1F1F1;
}
.hyperlink {
    padding: 30px 90px;

}
/*Contents*/
.contents h1 {
    margin-left: 10px;
}
.contents p {
    text-indent: 15px;
    margin-left: 10px;
}

/*Right Content*/
.ads-content {
    background-color: #F1F1F1;
}
.ads-item {
    margin: 20px 30px;
    padding: 30px 65px;
    border: solid 1px #FFFFFF;
    border-radius: 10%;
    background-color: #FFFFFF;
}